<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Valhalla Animes{% endblock %}</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <div class="aurora-bg">
            <div class="aurora-shape shape1"></div>
            <div class="aurora-shape shape2"></div>
        </div>
        <header>
            <nav class="main-nav" id="main-nav">
                <a href="{{ url_for('index') }}" class="nav-brand">Valhalla Animes</a>
                <form action="{{ url_for('search') }}" method="GET" class="search-form">
                    <input type="search" name="q" placeholder="Buscar anime..." required>
                    <button type="submit">Buscar</button>
                </form>
                <button class="hamburger-btn" id="hamburger-btn" aria-label="Abrir menu">
                    <span class="hamburger-line"></span>
                    <span class="hamburger-line"></span>
                    <span class="hamburger-line"></span>
                </button>

                <div class="nav-links" id="nav-links">
                    {% if current_user.is_authenticated %}
                        <a href="{{ url_for('profile', username=current_user.username) }}">Perfil</a>
                        <a href="{{ url_for('favorites') }}">Meus Favoritos</a>
                        <a href="{{ url_for('logout') }}">Sair</a>
                    {% else %}
                        <a href="{{ url_for('login') }}">Entrar</a>
                        <a href="{{ url_for('register') }}">Registrar</a>
                    {% endif %}
                    <a href="{{ url_for('semana') }}">Agenda da Semana</a>
                    <a href="{{ url_for('sobre') }}">Sobre</a>
                </div>
            </nav>
        {% if request.endpoint == 'index' %}
            <div class="header-content">
                <h1>Próximos Lançamentos de Animes</h1>
                <p>Fique por dentro das novidades do mundo dos animes!</p>
            </div>
        {% endif %}
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <p>&copy; {{ year }} - Meu Site de Animes. Dados fornecidos pela <a href="https://jikan.moe" target="_blank">Jikan API</a>.</p>
                <div class="developer-credit">
                    <span>Desenvolvido por Carlos Natanael</span>
                    <div class="social-icons">
                        <a href="https://github.com/CarlosNatanael" target="_blank" rel="noopener noreferrer" title="GitHub">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/carlos-natanael-608628243/" target="_blank" rel="noopener noreferrer" title="linkedin">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
        </footer>

        <script>
            const mainNav = document.getElementById('main-nav');
            const hamburgerBtn = document.getElementById('hamburger-btn');

            hamburgerBtn.addEventListener('click', () => {
                mainNav.classList.toggle('nav-active');
            });
        </script>

    </body>
</html>